<a href="https://colab.research.google.com/github/alexisapp94/Curso-de-machineLearning/blob/main/Laboratorio/Estad%C3%ADstica_para_el_an%C3%A1lisis_de_datos_AVANCE1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



<h1 align=center><font size = 5>Laboratorio de Estadística para el análisis de datos</font></h1>

---

## Introducción

En este laboratorio, aprenderá a usar python para analizar datos con estadística.

## 1. Descargar y analizar Dataset

### Esta es la legendaria competencia Titanic ML



El hundimiento del Titanic es uno de los naufragios más infames de la historia.

El 15 de abril de 1912, durante su viaje inaugural, el RMS Titanic, ampliamente considerado "insumergible", se hundió tras chocar con un iceberg. Desafortunadamente, no había suficientes botes salvavidas para todos a bordo, lo que resultó en la muerte de 1502 de los 2224 pasajeros y la tripulación.

Si bien hubo algún elemento de suerte involucrado en sobrevivir, parece que algunos grupos de personas tenían más probabilidades de sobrevivir que otros.

En este desafío, le pedimos que cree un modelo predictivo que responda a la pregunta: "¿Qué tipo de personas tenían más probabilidades de sobrevivir?" utilizando datos de pasajeros (es decir, nombre, edad, sexo, clase socioeconómica, etc.).

<img src="https://storage.googleapis.com/kaggle-media/welcome/video_thumbnail.jpg" width="800" 
     height="400">
<div style="text-align: center">¿Qué tipo de personas tenían más probabilidades de sobrevivir? </div>


<b>Descripción de datos</b>

El data frame de Titanic tiene 891 filas y 12 columnas.

<b>Este data frame contiene las siguientes columnas:</b>

---

* <b>Survival : </b>  Supervivencia (0 = No, 1 = Sí)
* <b>Pclass : </b>  Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)
* <b>Sex : </b>  Sexo 
* <b>Age : </b>  Edad en años
* <b>Sibsp : </b>  # de hermanos / cónyuges a bordo del Titanic
* <b>Parch : </b>  # de padres / hijos a bordo del Titanic

* <b>Ticket : </b>  Número de ticket

* <b>Fare : </b>  Tarifa de pasajero
* <b>Cabin : </b>  Número de cabina
* <b>Embarked : </b>  Puerto de embarque (C = Cherburgo, Q = Queenstown, S = Southampton)



---


<strong>Puede consultar este [link](https://www.kaggle.com/c/titanic/overview) para leer más sobre la fuente de datos Titanic.</strong>

In [ ]:
# Importando librerías

import pandas as pd

In [ ]:
# leer la data desde una archivo csv
titanic = pd.read_csv('train.csv', delimiter = ";")

In [ ]:
# Visualizar parte de la tabla 
titanic.head(10)

In [ ]:
titanic.dtypes

In [ ]:
titanic.Age

# Tarea

1.   ¿Cuál es la edad promedio de las mujeres?
2.   ¿Cuál es el puerto de embarque más frecuente?
3.   ¿Cuánto es el monto promedio pagado por pasaje?

---